streamlit
psycopg2-binary
pandas
numpy
requests
python-dotenv
sqlalchemy
jinja2
rich
transformers
huggingface-hub
pinecone
langchain
torch
scikit-learn
opencv-python
speechrecognition
textblob
pillow
nltk
matplotlib
seaborn
imageio_ffmpeg