psycopg2
ipykernel
ipython-pygments-lexers
jedi
jupyter-client
jupyter-core
parso
prompt-toolkit
psutil
pygments
pywin32
pyzmq
Automat
GitPython
Markdown
MarkupSafe
PyMySQL
PySocks
PyYAML
Unidecode
arrow
astunparse
babel
blinker
blis
cachetools
cinemagoer
contourpy
cssselect
gensim
git-filter-repo
gitdb
google-api-core
google-auth
google-cloud-speech
google-pasta
googleapis-common-protos
graphviz
huggingface-hub
imageio-ffmpeg
ipython
ipywidgets
jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras
keras-tuner
kiwisolver
kt-legacy
langcodes
language-data
lazy-loader
libclang
librosa
matplotlib
mysqlclient
nltk
notebook
notebook-shim
numba
numpy
opencv-contrib-python
opencv-python
pandas
pillow
pinecone
pinecone-plugin-assistant
pinecone-plugin-interface
psycopg2-binary
pyOpenSSL
pyarrow
pydotplus
pyparsing
pyspellchecker
python-dotenv
python-json-logger
queuelib
regex
requests
requests-file
rich
scikit-learn
scipy
seaborn
selenium
setuptools
soundex
soundfile
spacy
spacy-legacy
spacy-loggers
speechrecognition
spellchecker
sqlalchemy
streamlit
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
textblob
tldextract
tokenizers
toml
torch
transformers
urllib3
vaderSentiment
vosk
w3lib
weasel
webcolors
webencodings
websocket-client
websockets
werkzeug
wheel
