asttokens
colorama
comm
debugpy
decorator
executing
ipykernel
ipython-pygments-lexers
jedi
jupyter-client
jupyter-core
matplotlib-inline
nest-asyncio
parso
platformdirs
prompt-toolkit
psutil
pure-eval
pygments
python-dateutil
pywin32
pyzmq
six
stack-data
tornado
traitlets
wcwidth
Automat
Flask-Sitemap
GitPython
IMDbPY
Markdown
MarkupSafe
Protego
PyDispatcher
PyMySQL
PySocks
PyYAML
Scrapy
Send2Trash
Unidecode
absl-py
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astunparse
async-lru
attrs
audioread
babel
backcall
beautifulsoup4
bleach
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
cinemagoer
click
cloudpathlib
cloudscraper
confection
constantly
contourpy
cryptography
cssselect
cv
cycler
cymem
defusedxml
docopt
fastjsonschema
filelock
flask
flask-talisman
flatbuffers
fonttools
fqdn
fsspec
gTTS
gast
gensim
git-filter-repo
gitdb
google-api-core
google-auth
google-cloud-speech
google-pasta
googleapis-common-protos
graphviz
greenlet
grpcio
grpcio-status
h11
h5py
httpcore
httpx
huggingface-hub
hyperlink
idna
imageio-ffmpeg
incremental
inexactsearch
ipython
ipywidgets
isoduration
itemadapter
itemloaders
itsdangerous
jinja2
jiwer
jmespath
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras
keras-tuner
kiwisolver
kt-legacy
langcodes
language-data
lazy-loader
libclang
librosa
llvmlite
lxml
m3u8
marisa-trie
markdown-it-py
matplotlib
mdurl
mistune
ml-dtypes
more-itertools
mpmath
msgpack
murmurhash
mysqlclient
namex
narwhals
nbclient
nbconvert
nbformat
networkx
nltk
notebook
notebook-shim
numba
numpy
openai-whisper
opencv-contrib-python
opencv-python
opt-einsum
optree
outcome
overrides
packaging
pandas
pandocfilters
parsel
pickleshare
pillow
pinecone
pinecone-plugin-assistant
pinecone-plugin-interface
pip
pipreqs
pooch
preshed
prometheus-client
proto-plus
protobuf
psycopg2-binary
pyOpenSSL
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pydeck
pydotplus
pyparsing
pyspellchecker
python-dotenv
python-json-logger
pytz
pywinpty
queuelib
rapidfuzz
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
selenium
service-identity
setuptools
shellingham
silpa-common
smart-open
smmap
sniffio
sortedcontainers
soundex
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
speechrecognition
spellchecker
sqlalchemy
srsly
srt
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
terminado
textblob
thinc
threadpoolctl
tiktoken
tinycss2
tldextract
tokenizers
toml
torch
torchaudio
torchvision
tqdm
transformers
trio
trio-websocket
twisted
typer
types-python-dateutil
typing-extensions
typing-inspection
tzdata
uri-template
urllib3
vaderSentiment
vosk
w3lib
wasabi
watchdog
weasel
webcolors
webencodings
websocket-client
websockets
werkzeug
wheel
widgetsnbextension
wrapt
wsproto
yarg
yt-dlp
zope.interface
autocommand
backports.tarfile
importlib-metadata
importlib-resources
inflect
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
tomli
typeguard
zipp